@import '../../styles/index.scss';

$btn-p-x: spacing(2);
$btn-p-y: spacing(1.5);
$btn-default-round: spacing(0.75);

$button-sizes: (
  'lg': (
    x: spacing(2.5),
    y: spacing(1.5)
  ),
  'md': (
    x: spacing(1.75),
    y: spacing(1)
  ),
  'sm': (
    x: spacing(1.5),
    y: spacing(0.75)
  ),
);

.button {
  padding: $btn-p-y $btn-p-x;
  border: 1px solid;
  border-radius: $btn-default-round;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  transition: .3s background-color, .3s border-color;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  &:focus,
  &:hover {
    outline: none;
  }
}

.button-icon-start {
  padding-right: $btn-p-y / 2;
}

.button-icon-end {
  padding-left: $btn-p-y / 2;
}

@each $color, $value in $button-theme {
  .button--#{$color} {
    @include button-variant(map-get($value, 'color'), map-get($value, 'text'));
  }
}

.buttonDisableShadow {
  box-shadow: none;
}

// size
@each $size, $value in $button-sizes {
  .buttonSize#{$size} {
    padding: map-get($value, 'y') map-get($value, 'x');
  }
}